<!DOCTYPE html>
<html lang="en">
<head th:fragment="html_head(pageTitle)">
    <meta charset="ISO-8859-1">
    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

</body>
</html>