<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head(pageTitle='Task management - Home')"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header :: header"></div>
    <div class="row flex-row flex-sm-nowrap py-3">

        <div class="col-sm-6 col-md-4 col-xl-3"
             th:each="task : ${tasks}">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-between">
                            <h6 class="d-flex align-items-center justify-content-between text-uppercase text-truncate"
                                th:text="${task.status.name}"></h6>
                            <a type="button" class="btn btn-sm btn-light rounded rounded-circle create-task-btn"
                               title="Create"
                               th:attr="task-status=${task.status.code}"
                            >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm mb-2" draggable="true"
                             th:each="taskDetail: ${task.taskDetails}">
                            <div th:class="'card-body p-2' + ${taskDetail.overdue!=null && taskDetail.overdue ? ' card-overdue ' : ''}"
                            >
                                <div class="d-flex align-items-center justify-content-between">
                                    <a role="button" class="lead font-weight-bold task-title"
                                       th:text="${taskDetail.name}" th:attr="task-id=${taskDetail.id}"></a>
                                </div>
                                <p th:text="${taskDetail.description}"></p>
                                <div class="row justify-content-end">
                                    <div class="col d-flex justify-content-between">
                                        <span th:text="${taskDetail.expectedEndTime}" class="text-secondary"></span>
                                        <a class="btn btn-danger text-white btn-sm delete-btn"
                                           th:attr="task-id=${taskDetail.id}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/task-modal :: task-modal"></div>
        <div th:replace="fragments/task-delete-confirmation-modal :: task-delete-confirmation-modal"></div>

    </div>

</div>
</body>
<div th:replace="fragments/embedded-js :: embedded-js"/>
</html>
