<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head(pageTitle='Task management - Home')"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header :: header"></div>
    <div class="row flex-row flex-sm-nowrap py-3">

        <div class="col-sm-6 col-md-4 col-xl-3"
             th:each="taskStatus : ${T(com.github.truongbb.tinytaskmanagement.statics.TaskStatus).values()}">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-between">
                            <h6 class="d-flex align-items-center justify-content-between text-uppercase text-truncate"
                                th:text="${taskStatus.name}"></h6>
                            <a type="button" class="btn btn-sm btn-light rounded rounded-circle" title="Create"
                               th:attr="task-status=${taskStatus.code}" id="create-task-btn"
                            >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="items border border-light">
                        <div class="card draggable shadow-sm mb-2" draggable="true"
                             th:each="task: ${tasks}">
                            <div th:class="'card-body p-2' + ${task.overdue!=null && task.overdue ? ' card-overdue ' : ''}"
                                 th:if="${task.status.toString() == ${taskStatus.code}}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a th:href="@{'/tasks/update/' + ${task.id}}" class="lead font-weight-bold"
                                       th:text="${task.name}"></a>
                                    <img th:src="${task.assignedUser.avatarUrl}" class="rounded-circle float-right"
                                         style="width: 35px">
                                </div>
                                <p th:text="${task.description}"></p>
                                <div class="row justify-content-end">
                                    <div class="col d-flex justify-content-between">
                                        <span th:text="${task.expectedEndTime}" class="text-secondary"></span>
                                        <a class="btn btn-danger text-white btn-sm"
                                           th:href="@{'/tasks/delete/'+${task.id}}"
                                           th:data-confirm-delete="|Are you sure you want to delete this task?|"
                                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                        >
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/task-modal :: task-modal"></div>

    </div>

</div>
</body>
</html>
<head th:replace="fragments/embedded-js :: embedded-js"/>