<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student management</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/student-list.css"/>
</head>
<body>

<div class="container-fluid m-0 p-0">

    <div th:insert="fragments/nav :: nav"></div>

    <div class="row mt-3 ml-3">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#student-create-modal">
                Create
            </button>
        </div>
    </div>

    <div th:insert="fragments/student-create-modal :: student-create-modal"
         th:with="sinhVienMuonTaoMoi=${sinhVienMuonTaoMoi}"></div>

    <div class="row mt-4 mx-3">
        <div class="col">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Date of birth</th>
                    <th class="text-center">GPA</th>
                    <th class="text-center">Region</th>
                    <th class="text-center">Actions</th>
                </tr>
                <tr th:each="sinhVien: ${danhSachSinhVien}">
                    <td th:text="${sinhVien.id}"/>
                    <td th:text="${sinhVien.name}"/>
                    <td th:text="${sinhVien.address}"/>
                    <td th:text="${sinhVien.email}"/>
                    <td th:text="${sinhVien.phone}"/>
                    <td th:text="${sinhVien.dob}"/>
                    <td th:text="${sinhVien.gpa}"/>
                    <td th:text="${sinhVien.region.name}"/>
                    <td>
                        <a role="button" class="mr-3 text-primary update-student" th:attr="student-id=${sinhVien.id}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:insert="fragments/student-update-modal :: student-update-modal"></div>

    <div th:insert="fragments/footer :: footer"></div>
</div>

</body>
</html>


<!-- jQuery library -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>


<script>
    $(document).ready(function () {
        toastr.options.timeOut = 2500; // 1.5s
        // setTimeout(() => {
        //     toastr.info('Page Loaded!');
        // }, 3000);


        $("#student-update-modal-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "name": {
                    required: true,
                    maxlength: 255
                },
                "address": {
                    required: true,
                    maxlength: 255
                },
                "phone": {
                    required: true,
                    maxlength: 10
                }
            },
            messages: {
                "name": {
                    required: "Bắt buộc nhập tên sinh viên",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "address": {
                    required: "Bắt buộc nhập địa chỉ sinh viên",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                }
            }
        });

        $(".update-student").click(async event => {
            console.log(event);
            const studentId = $(event.currentTarget).attr("student-id");
            console.log(studentId);

            await $.ajax({
                url: '/api/regions/',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (!data || data.length === 0) {
                        return;
                    }
                    let regionOptions = "";
                    for (let i = 0; i < data.length; i++) {
                        regionOptions += "<option value='" + data[i].code + "'>" + data[i].name + "</option>";
                    }
                    $('#student-update-modal #region').append($(regionOptions));
                    // localStorage.setItem("regions", data)
                },
                error: function (data) {
                    console.log(data);
                    toastr.warning(data.responseJSON.message);
                }
            });

            let currentStudent = null;
            await $.ajax({
                url: '/api/students/' + studentId,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    currentStudent = data;
                },
                error: function (data) {
                    console.log(data);
                    toastr.warning(data.responseJSON.message);
                }
            });
            if (!currentStudent) {
                return;
            }

            $('#student-update-modal #name').val(currentStudent.name);
            $('#student-update-modal #address').val(currentStudent.address);
            $('#student-update-modal #phone').val(currentStudent.phone);
            $('#student-update-modal #email').val(currentStudent.email);
            $('#student-update-modal #gpa').val(currentStudent.gpa);
            $('#student-update-modal #dob').val(currentStudent.dob);
            $('#student-update-modal #region').val(currentStudent.region);

            $('#student-update-modal #submit-update-student').attr("student-id", studentId);

            $('#student-update-modal').modal('show');
        });


        $("#submit-update-student").click(() => {
            const isValidForm = $("#student-update-modal-form").valid();
            if (!isValidForm) {
                return;
            }

            const studentId = $('#student-update-modal #submit-update-student').attr("student-id");
            const formData = $('#student-update-modal-form').serializeArray();
            console.log(formData);
            if (!formData || formData.length === 0) {
                return;
            }
            const requestData = {};
            for (let i = 0; i < formData.length; i++) {
                requestData[formData[i].name] = formData[i].value;
            }

            $.ajax({
                url: '/api/students/' + studentId,
                type: 'PUT',
                data: JSON.stringify(requestData),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Cập nhật sinh viên thành công");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function (data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        });


    });
</script>


    <!--https://viblo.asia/p/tim-hieu-ve-jquery-validation-phan-1-E375zEqRlGW-->